<div {$pageattrs}>

{BEGIN container_column}
<div class="rnr-c rnr-ch rnr-c-column">

{BEGIN masterlist_title}
<div  class="style1 rnr-bl rnr-b-masterlistheader {$brickclass_masterlistheader}"><span>{$pagetitlelabel customers masterlist}</span></div>
{END masterlist_title}

<div class="rnr-hfiller"></div>
</div>
{END container_column}



{BEGIN container_mastergrid}



	<style>
	.bs-gridcell[data-field=id]:before {
		content: "{$label customers id}";
	}
	.bs-gridcell[data-field=nome]:before {
		content: "{$label customers nome}";
	}
	.bs-gridcell[data-field=dt_nascimento]:before {
		content: "{$label customers dt_nascimento}";
	}
	.bs-gridcell[data-field=cpf]:before {
		content: "{$label customers cpf}";
	}
	.bs-gridcell[data-field=titulo_eleitor]:before {
		content: "{$label customers titulo_eleitor}";
	}
	.bs-gridcell[data-field=zona_eleitoral]:before {
		content: "{$label customers zona_eleitoral}";
	}
	.bs-gridcell[data-field=secao_eleitoral]:before {
		content: "{$label customers secao_eleitoral}";
	}
	.bs-gridcell[data-field=end]:before {
		content: "{$label customers end}";
	}
	.bs-gridcell[data-field=num]:before {
		content: "{$label customers num}";
	}
	.bs-gridcell[data-field=comp]:before {
		content: "{$label customers comp}";
	}
	.bs-gridcell[data-field=bairro]:before {
		content: "{$label customers bairro}";
	}
	.bs-gridcell[data-field=cidade]:before {
		content: "{$label customers cidade}";
	}
	.bs-gridcell[data-field=cep]:before {
		content: "{$label customers cep}";
	}
	.bs-gridcell[data-field=uf]:before {
		content: "{$label customers uf}";
	}
	.bs-gridcell[data-field=fone]:before {
		content: "{$label customers fone}";
	}
	.bs-gridcell[data-field=fone1]:before {
		content: "{$label customers fone1}";
	}
	.bs-gridcell[data-field=email]:before {
		content: "{$label customers email}";
	}
	.bs-gridcell[data-field=timestamp]:before {
		content: "{$label customers timestamp}";
	}
</style>
<table {$masterlistgrid_hiddenattr} data-pageid="{$pageid}" data-brick="masterlistgrid" class="table rnr-b-mastergridfields rnr-gridtable bs-flexgrid" >
		<thead>
		<tr>
			<th class="{$nome_class}">{$label customers nome}</th>
			<th class="{$dt_nascimento_class}">{$label customers dt_nascimento}</th>
			<th class="{$cpf_class}">{$label customers cpf}</th>
			<th class="{$titulo_eleitor_class}">{$label customers titulo_eleitor}</th>
			<th class="{$zona_eleitoral_class}">{$label customers zona_eleitoral}</th>
			<th class="{$secao_eleitoral_class}">{$label customers secao_eleitoral}</th>
			<th class="{$end_class}">{$label customers end}</th>
			<th class="{$num_class}">{$label customers num}</th>
			<th class="{$comp_class}">{$label customers comp}</th>
			<th class="{$bairro_class}">{$label customers bairro}</th>
			<th class="{$cidade_class}">{$label customers cidade}</th>
			<th class="{$cep_class}">{$label customers cep}</th>
			<th class="{$uf_class}">{$label customers uf}</th>
			<th class="{$fone_class}">{$label customers fone}</th>
			<th class="{$fone1_class}">{$label customers fone1}</th>
			<th class="{$email_class}">{$label customers email}</th>
			<th class="{$timestamp_class}">{$label customers timestamp}</th>
		</tr>
	</thead>
	
	<tbody>
		<tr>
			<td class="{$nome_class} bs-gridcell" data-field=nome>{$nome_mastervalue}</td>
			<td class="{$dt_nascimento_class} bs-gridcell" data-field=dt_nascimento>{$dt_nascimento_mastervalue}</td>
			<td class="{$cpf_class} bs-gridcell" data-field=cpf>{$cpf_mastervalue}</td>
			<td class="{$titulo_eleitor_class} bs-gridcell" data-field=titulo_eleitor>{$titulo_eleitor_mastervalue}</td>
			<td class="{$zona_eleitoral_class} bs-gridcell" data-field=zona_eleitoral>{$zona_eleitoral_mastervalue}</td>
			<td class="{$secao_eleitoral_class} bs-gridcell" data-field=secao_eleitoral>{$secao_eleitoral_mastervalue}</td>
			<td class="{$end_class} bs-gridcell" data-field=end>{$end_mastervalue}</td>
			<td class="{$num_class} bs-gridcell" data-field=num>{$num_mastervalue}</td>
			<td class="{$comp_class} bs-gridcell" data-field=comp>{$comp_mastervalue}</td>
			<td class="{$bairro_class} bs-gridcell" data-field=bairro>{$bairro_mastervalue}</td>
			<td class="{$cidade_class} bs-gridcell" data-field=cidade>{$cidade_mastervalue}</td>
			<td class="{$cep_class} bs-gridcell" data-field=cep>{$cep_mastervalue}</td>
			<td class="{$uf_class} bs-gridcell" data-field=uf>{$uf_mastervalue}</td>
			<td class="{$fone_class} bs-gridcell" data-field=fone>{$fone_mastervalue}</td>
			<td class="{$fone1_class} bs-gridcell" data-field=fone1>{$fone1_mastervalue}</td>
			<td class="{$email_class} bs-gridcell" data-field=email>{$email_mastervalue}</td>
			<td class="{$timestamp_class} bs-gridcell" data-field=timestamp>{$timestamp_mastervalue}</td>
		</tr>
	</tbody>

</table> 




{END container_mastergrid}

</div>