<div {$pageattrs}>

{BEGIN container_masterlistheader}
<div class="rnr-c rnr-ch rnr-c-masterlistheader">


<div  class="style1 rnr-bl rnr-b-masterprintheader {$brickclass_masterprintheader}">	<h1>{$pagetitlelabel customers masterprint}</h1>
</div>


<div class="rnr-hfiller"></div>
</div>
{END container_masterlistheader}



{BEGIN container_mastergrid}



<table class="rnr-c rnr-cont rnr-c-mastergrid rnr-b-masterprintfields rnr-gridtable" cellpadding="0" >
		<thead>
		<tr class="rnr-toprow style1 {$gridHeader_class}" >
			<th class="{$nome_class}">{$label customers nome}</th>
			<th class="{$dt_nascimento_class}">{$label customers dt_nascimento}</th>
			<th class="{$cpf_class}">{$label customers cpf}</th>
			<th class="{$titulo_eleitor_class}">{$label customers titulo_eleitor}</th>
			<th class="{$zona_eleitoral_class}">{$label customers zona_eleitoral}</th>
			<th class="{$secao_eleitoral_class}">{$label customers secao_eleitoral}</th>
			<th class="{$end_class}">{$label customers end}</th>
			<th class="{$num_class}">{$label customers num}</th>
			<th class="{$comp_class}">{$label customers comp}</th>
			<th class="{$bairro_class}">{$label customers bairro}</th>
			<th class="{$cidade_class}">{$label customers cidade}</th>
			<th class="{$cep_class}">{$label customers cep}</th>
			<th class="{$uf_class}">{$label customers uf}</th>
			<th class="{$fone_class}">{$label customers fone}</th>
			<th class="{$fone1_class}">{$label customers fone1}</th>
			<th class="{$email_class}">{$label customers email}</th>
			<th class="{$timestamp_class}">{$label customers timestamp}</th>
			<th class="rnr-edge">&nbsp;</th>
		</tr>
	</thead>
	<tbody>
		<tr class="rnr-row style1">
			<td class="{$nome_class}">{$nome_mastervalue}</td>
			<td class="{$dt_nascimento_class}">{$dt_nascimento_mastervalue}</td>
			<td class="{$cpf_class}">{$cpf_mastervalue}</td>
			<td class="{$titulo_eleitor_class}">{$titulo_eleitor_mastervalue}</td>
			<td class="{$zona_eleitoral_class}">{$zona_eleitoral_mastervalue}</td>
			<td class="{$secao_eleitoral_class}">{$secao_eleitoral_mastervalue}</td>
			<td class="{$end_class}">{$end_mastervalue}</td>
			<td class="{$num_class}">{$num_mastervalue}</td>
			<td class="{$comp_class}">{$comp_mastervalue}</td>
			<td class="{$bairro_class}">{$bairro_mastervalue}</td>
			<td class="{$cidade_class}">{$cidade_mastervalue}</td>
			<td class="{$cep_class}">{$cep_mastervalue}</td>
			<td class="{$uf_class}">{$uf_mastervalue}</td>
			<td class="{$fone_class}">{$fone_mastervalue}</td>
			<td class="{$fone1_class}">{$fone1_mastervalue}</td>
			<td class="{$email_class}">{$email_mastervalue}</td>
			<td class="{$timestamp_class}">{$timestamp_mastervalue}</td>
			<td class="rnr-edge">&nbsp;</td>
		</tr>
	</tbody>

</table> 




{END container_mastergrid}

</div>