<div {$pageattrs}>

{BEGIN container_dcount}
<div class="rnr-c rnr-ch rnr-c-dcount">


<div  class="style1 rnr-bl rnr-b-bsdetailspreviewcount {$brickclass_bsdetailspreviewcount}"><span {$bsdetailspreviewcount_hiddenattr} data-pageid="{$pageid}" data-brick="bsdetailspreviewcount">Ítens Encontrados: <strong>{$row_count}.</strong></span>
</div>


<div class="rnr-hfiller"></div>
</div>
{END container_dcount}



{BEGIN container_detailspreviewgrid}


{BEGIN details_data}
<table class="table striped">
{BEGIN details_row_header}
	<thead>
		<tr class="{$gridHeader_class}" >
			<th class="{$cpf_class}">{$label verifica_voucher cpf}</th>
			<th class="{$timestamp_class}">{$label verifica_voucher timestamp}</th>
		</tr>
	</thead>
{END details_row_header}
	<tbody>
{BEGIN details_row}
		<tr>
			<td class="{$cpf_class}">{$cpf_value}</td>
			<td class="{$timestamp_class}">{$timestamp_value}</td>
		</tr>
{END details_row}	
	</tbody>
</table>

{END details_data}



{END container_detailspreviewgrid}

</div>