#backToMenuButton1 {
 visibility: hidden; 
}

#saveButton1 {
  text-indent: -9999px;
  line-height: 0; /* Collapse the original line */
}

#saveButton1::after {
  content: "Cadastrar";
  text-indent: 0;
  display: block;
  line-height: initial; /* New content takes up original line height */
}